body
 { 
  background-color:black
  

}

.header_room img {
    width: 140px;margin-right: -8px;
}
#room_name_input {
    width:50%;
    font-size:23px;
    padding:10px;
}

 .logout {
  background-color:darkturquoise;
  border: 0;
  border-radius:10px;
  font-weight:800;
  font-size: 20px;
  padding: 10px 20px;
  position: sticky;
  animation-name: shake;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  cursor:pointer;
  float: right;
  color:black;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.logout:hover {
  animation-name: shakeAnim;
}

@keyframes shakeAnim {
  0% {left: 0}
  1% {left: -3px}
  2% {left: 5px}
  3% {left: -8px}
  4% {left: 8px}
  5% {left: -5px}
  6% {left: 3px}
  7% {left: 0}
}

@keyframes shake {
  0% {left: 0}
  1% {left: -3px}
  2% {left: 5px}
  3% {left: -8px}
  4% {left: 8px}
  5% {left: -5px}
  6% {left: 3px}
  7% {left: 0}
}
 .header_room
{
	color: white;font-family: 'Reggae One', cursive; font-size: 45px; letter-spacing: 5px;margin-top: 50px; margin-left:50px; 
}
.color_white
{
	color: white ;
  font-weight:900;
 
  
}
.button {
    border-radius: 0px;
    background-color: #f4511e;
    border:2px solid black;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    font-weight: 900;
     
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  html {
    box-sizing: border-box;
  }
  *,*::before,*::after {
    box-sizing: inherit;
  }
  body {
    margin: 0;
  }
  
  .wave-container > svg {
    display: block;
  }
  @keyframes animateWave {
    0% {
      transform: scale(1,0);
    }
    100% {
      transform: scale(1,1);
    }
  }
  .wave-container > svg {
    display: block;
    transform-origin: bottom;
    animation: animateWave 1000ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
  }
  #output
  {
    padding: 10px; width:80%;background: rgba(255,255,255,0.8);border-radius: 15px; cursor: pointer;
  }
/*background-repeat: no-repeat; */
  /* background-size: cover; */